module fifo_design #(
    parameter DATA_WIDTH = 8,
    parameter FIFO_DEPTH = 16
)(
    input logic clk,
    input logic rst,
    input logic wr_en,
    input logic rd_en,
    input logic [DATA_WIDTH-1:0] data_in,
    output logic [DATA_WIDTH-1:0] data_out,
    output logic full,
    output logic empty
);

localparam ADDR_WIDTH = $clog2(FIFO_DEPTH);

logic [DATA_WIDTH-1:0] mem [FIFO_DEPTH-1:0];
logic [ADDR_WIDTH-1:0] wr_ptr, rd_ptr;
logic [ADDR_WIDTH:0] count;

always_ff @(posedge clk or posedge rst) begin
    if (rst) begin
        wr_ptr <= 0;
        rd_ptr <= 0;
        count <= 0;
    end else begin
        case ({wr_en && !full, rd_en && !empty})

                2'b10: begin
                    mem[wr_ptr] <= data_in;
                    wr_ptr <= wr_ptr + 1;
                    count <= count + 1;
                end

                2'b01: begin
                    data_out <= mem[rd_ptr];
                    rd_ptr <= rd_ptr + 1;
                    count <= count - 1;
                end

                2'b11: begin
                    mem[wr_ptr] <= data_in;
                    data_out <= mem[rd_ptr];

                    wr_ptr <= wr_ptr + 1;
                    rd_ptr <= rd_ptr + 1;

                    // count unchanged
                end
            endcase
    end
end

assign full = (count == FIFO_DEPTH);
assign empty = (count == 0);

endmodule